.header-container {
  background-color: rgb(99 47 83 / 80%);
}

.header-row {
  align-items: flex-end;
}

.column-one-half > h2 {
  font-family: "The Nautigal", cursive;
  color: white;
  font-size: 80px;
  margin-top: 16px;
  margin-left: 20px;
  display: inline;
  font-weight: 300;
}

.column-one-half > h6 {
  display: inline;
  color: white;
  font-size: 15px;
  margin-right: 50px;
}

img {
  border: 3px black solid;
  object-fit: cover;
  height: 285px;
  max-width: 220px;
  filter: brightness(116%);
}

ul {
  margin: 20px;
}

li {
  display: inline-flex;
  padding: 25px;
  margin-left: 30px;
}

.font-fam {
  font-family: Teko, sans-serif;
}

.font-fam-two {
  font-family: Mina, sans-serif;
}

.lists {
  width: 200px;
  margin: 20px;
}

.button-add {
  background-color: rgb(99 47 83 / 80%);
  color: white;
  padding: 5px 28px;
  border-radius: 1px;
  border-color: rgb(99 47 83 / 80%);
  font-family: Mina, sans-serif;
  font-size: 11px;
  font-weight: 800;
  cursor: pointer;
}

.button-added {
  background-color: rgb(85 223 123 / 80%);
  color: black;
  padding: 5px 28px;
  border-radius: 1px;
  border-color: rgb(85 223 123 / 80%);
  font-family: Mina, sans-serif;
  font-size: 11px;
  font-weight: 800;
}

.list-page {
  font-weight: 900;
  margin-left: 40px;
}

.width {
  width: 700px;
  justify-content: end;
}

.margin-top {
  margin-top: 20px;
}

a {
  color: white;
  margin: 20px;
  position: relative;
  top: -17px;
  text-decoration: none;
}

.remove-button {
  background-color: #b22222;
  color: white;
  padding: 5px 28px;
  border-radius: 1px;
  border-color: #b22222;
  font-family: Mina, sans-serif;
  font-size: 11px;
  font-weight: 800;
  cursor: pointer;
}
